* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Quicksand', 'open sans';
    background-image: url('../images/patientbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter:brightness(80%);
    min-height: 100vh;
    min-width: 100vw;
}
.container{
    min-width: inherit;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
h1{
    text-align:center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}
/* Buttons / Anchors */
a,input[type='submit']{
    display: inline-block;
    font-family: 'Quicksand', 'open sans';
    font-size:medium;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    color: initial;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border:none;
    border-radius: 1rem;
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--color12);
    transition: all 0.2s 0.2s;
}
a:hover,input[type='submit']:hover{
    filter:brightness(85%);
    transform: scale(1.08);
    color: initial;
}
.cancel{
    background-color: var(--color10);
}
.danger{
    background-color: var(--color9);
}
.primary{
    background-color: var(--color5);
}
/* Table */
.table-wrapper{
    position: relative;
    width: 100%;
    min-height: 90vh;
    max-height: 90vh;
    border-radius: 0.2rem;
    overflow: auto;
    background:#ffffffaa;
    box-shadow: 0px 0px 4px 1px var(--color12);
}
table{
    width: 100%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    padding: 0.5rem;
}
th{
    position: sticky;
    top: 0;
    background-color: var(--color4);
    color: var(--color11);
    padding: 0.4rem;
}
tr{
    border-bottom: solid 0.1rem var(--color13);
    transition: all 0.2s;
}
td{
    padding: 0.2rem;
}
td.th{
    background-color: var(--color4);
    color: var(--color11);
    padding: 0.4rem;
}
th,td{
    max-width: 10rem;
    width: auto;
    margin: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.highlight td{
    background-color: var(--color6);
}
.alert{
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: auto;
    padding:0.4rem;
    border-radius: 0.4rem;
    font-weight: 700;
    animation-name: slide-up;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.no-alert{
    display: none;
}
.alert-success{
    background-color: var(--color17);
    border-left: solid 0.2rem var(--color4);
}
.alert-danger{
    background-color: var(--color18);
    border-left: solid 0.2rem var(--color9);
}
.alert-info{
    background-color: var(--color19);
    border-left: solid 0.2rem var(--color15);
}
@keyframes slide-up {
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    25%{
        opacity: 1;
        transform: translateY(0);
    }
    75%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(1rem);
    }
}
.add-button{
    position: fixed;
    bottom:1rem;
    right:1rem;
    height: 4rem;
    width: 4rem;
    border: unset;
    background-color: var(--color4);
    box-shadow: 0px 0px 4px 1px var(--color12);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.8s;
    font-size: 1.3rem;
    z-index:2;
}
span{
    font-weight: 700;
    display: inline-block;
}
p{
   word-break: break-all;
   text-overflow: ellipsis;
}
.question{
    font-weight: 700;
    font-size: larger;
}
.add-button:hover{
    background-color: var(--color5);
    transform: rotateZ(360deg) scale(1.1);
}
@media only screen and (max-width: 1024px) {
    h1{
        font-size: 2rem;
    }
    body{
        font-size: 0.9rem;
    }
    a,input[type='submit']{
        font-size:small;
    }
    .container{
        padding:0.2rem;
    }
}