@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --color1: #173009;
    --color2: #263D18;
    --color3: #2D4A1B;
    --color4: #2D6A4F;
    --color5: #52B788;
    --color6: #95D5B2;
    --color7: #6E1423;
    --color8: #A71E34;
    --color9: #C71F37;
    --color10: #cf5061;
    --color11: #ffffff;
    --color12: #000000;
    --color13: #d8f3dc;
    --color14: #424242;
    --color15: #25b968;
    --color17: #52B78888;
    --color18: #cf506188;
    --color19: #00d88588;
}