<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <!-- Bootstrap CSS -->
    <link
      href="{% static 'recordsManager/css/bootstrap-grid.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="{% static 'recordsManager/css/variables.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'recordsManager/css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'recordsManager/css/form.css' %}" rel="stylesheet" />
    <link
      href="{% static 'recordsManager/css/scrollbar.css' %}"
      rel="stylesheet"
    />
    <title>Patient Manager</title>
  </head>

  <body>
    {% block patient %} {% endblock patient %}

    <!--  ALERTS -->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{message}}</div>
    {% endfor %} {% endif %}

    <script src="{% static 'recordsManager/js/table.js' %}"></script>
  </body>
</html>
